// vars
$black: #333;
$white:#fff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

/* Fonts -
Roboto
regular 400
bold 700
*/
// Mixins
@mixin translateY($e){
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}
@mixin transition($e){
  -webkit-transition:$e;
  -moz-transition:$e;
  transition:$e;
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color:$white;
  height: 100%;
  background: $black;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
  @include transition(.4s ease-in-out);
}
